

.searchpage-searchbox-container
{
    margin: 5px 10px;
  
}

#searchpage-searchbox{
    width: 700px;
    height: 50px;
}


#searchpage-findbtn
{
    font-size: 20px;
}


.Search-filter
{
 display: flex;
 justify-content: center;
 align-items: center;

}

#filter-item
{
    text-align: center;
    width: auto;
   
    margin: 0px 10px;
    border-radius: 25px;
    padding: 1 30px;
    border: 1px solid green;

}
.search-items
{ 
    height: 60vh;
    overflow-y: scroll;
}

