Container for the entire profile page
.profile-page-container {
   display: flex;
   justify-content: space-between;
   padding: 50px;
   gap: 30px;
   height: 100vh;
   overflow: hidden;
 }

#profile-pageP
{  
    /* margin:  50px auto; */
    padding: 0;
    width: 30%;
    height: 80vh;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Right side box for My Post and Message */
#right-boxP {
   width: 60%;
   height: 65vh; /* Decrease height */
   /* padding: 20px; */
   margin-left: 300px;
   background-color: rgba(74, 124, 134, 0.1); /* Optional: Light background */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Soft shadow */
   border-radius: 15px;
  
   display: flex;
   flex-direction: column;
   justify-content: center; /* Center content vertically */
 }


#left-boxP {
    height: 65vh;
    width: 30%;
    display: flex;
    margin-left: 100px;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
}

#card1{
   margin-top: 100px;
   background-color: rgba(74, 124, 134, 0.1); /* Transparent white */
   backdrop-filter: blur(30px); /* Frosted glass effect */
   box-shadow: 0 4px 8px rgba(92, 209, 112, 0.1); /* Soft shadow */
   border-radius: 15px; /* Rounded corners */
   border: none;
   border-radius: 15px; /* Optional: Makes corners rounded */
   animation: float 6s ease-in-out infinite;
}

 #logoutbtn
 {
    cursor: pointer;
 }
 #logoutbtn:hover
 {
    color: crimson;
 }

 #mypost
 {
    cursor: pointer;
 }
 #mypost:hover
 {
    color: rgb(45, 243, 104);
 }

 #message
 {
    cursor: pointer;
 }
 #message:hover
 {
    color: rgb(45, 243, 104);
 }
 #post
 {
    cursor: pointer;
 }
 #post:hover
 {
    color: rgb(45, 243, 104);
 }


