#right-boxCR {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Optional: adjust spacing between tables */
}


#postItem {
    width: 100%; /* Adjust as needed to fit your layout */
    box-sizing: border-box;
    padding: 20px;
    margin-top: 50px;
}


/* Optional: To style the table content within each item */
#postItem table{
    width: 100%; /* Table itself fills the container */
}