
  #form1 {
    min-height: 90vh;
    margin-top: -30vh;
    max-width: 800px;

  }
  #form2 {
    min-height: 90vh;
    margin-top: -85vh;
    max-width: 800px;
  
  }
  #form3 {
    min-height: 90vh;
    margin-top: -78vh;
    max-width: 800px;
   
  }
  #form4 {
    min-height: 5vh;
    margin-top: -75vh;
    max-width: 830px;
   
  }
 
  #detail {
    padding-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
 
  .form-container {
    max-width: 600px; /* Limits the width of the form */
    width: 100%;
    padding: 1.5rem;
    background-color: #f8f9fa; /* Light background for form area */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  