#Claim {
    min-height: 90vh;
    margin-top: -15vh;
  }
  #form1 {
    min-height: 90vh;
    margin-top: -30vh;
    max-width: 800px;
    margin-left: 350px;
  }
  #form2 {
    min-height: 90vh;
    margin-top: -85vh;
    max-width: 800px;
    margin-left: 350px;
  }
  #form3 {
    min-height: 90vh;
    margin-top: -78vh;
    max-width: 800px;
    margin-left: 350px;
  }
  #form4 {
    min-height: 90vh;
    margin-top: -75vh;
    max-width: 830px;
    margin-left: 334px;
  }
  #card
  {
    margin-top: -100px;
  }
  #detail
  {
    margin-top: -300px;
  }